/********************************************* ********** BI DASHBOARD CLASSNAMES *********** *********************************************/
@font-face {
  font-family: 'roboto_regular';
  src: url("https://d3mch2x00c5eox.cloudfront.net/7.11/Vader/Test/assets/fonts/roboto/Roboto-Regular.ttf") format("truetype"),
          url("https://d3mch2x00c5eox.cloudfront.net/7.11/Vader/Test/assets/fonts/roboto/Roboto-Regular.woff2") format("woff2"),
            url("https://d3mch2x00c5eox.cloudfront.net/7.11/Vader/Test/assets/fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.viewport {
    background: #ddd;
}
.sf-element-page-tab.sfpc-active {
    color: white !important;
    background: #00263A !important;
    cursor: default !important;
}
.sf-element-page-tab {
    display: block;
    float: left;
    height: 30px;
    padding: 8px 30px 0 30px;
    font-size: 12px;
    color: #777;
    border-right: 1px solid #dcdcdc;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.sf-element-page-tab:hover {
    background: #dcdcdc;
    color: #666;
}
.sf-element-document .sf-element-page .sf-element-visualization-area .sf-element-visual {
 box-shadow:rgba(0,0,0,0.2) 2px 2px 2px 0px;
}

.sfc-text-area{
    background: white;
    padding:0 !important;
    font-family: 'roboto_regular' !important;
}

.sfc-text-area.sfpc-first-row.sfpc-first-column {
  border-radius: 0 0 0 0 !important;
}

.sf-element-visual-content.sfc-text-area, .sf-element-visual-content.sfc-text-area > .StyledScrollbar ,  .sf-element-visual-content.sfc-text-area > .StyledScrollbar > .HtmlTextArea {
    width: 100% !important;
}
.bi-toolbar {
    display: block;
    width: 100%;
    height: 100%;
    background:white;
    position: relative;
    overflow: hidden !important;
}
.bi-toolbar .bi-toolbar-item {
    display: block;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #efefef;
    cursor: pointer;
    text-align: center;
    padding: 15px 0 0 0;
    background: white;
    color: #00263A;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.bi-toolbar .bi-toolbar-item:hover {
    background: #dcdcdc;
}
.bi-toolbar .bi-toolbar-item.bi-toolbar-item-selected {
    background: #00263A;
    color: white;
    cursor: default;
}
.bi-toolbar .bi-toolbar-item.bi-toolbar-item-selected .bi-toolbar-item-label {
   color: white;
}
.bi-toolbar .bi-toolbar-item .bi-toolbar-item-ico {
    font-size: 2.5em;
}
.bi-toolbar .bi-toolbar-item .bi-toolbar-item-label {
    font-size: 0.9em;
    color: #999;
    padding-top: 5px;
}
.bi-toolbar .bi-toolbar-item:first-child {
    border-top: 1px solid #dcdcdc;
}
.bi-toolbar .bi-toolbar-item:last-child {
   border-top: none;
   border-bottom: 1px solid #efefef;
}

.bi-toolbar #toggleResolution {
  position: absolute !important;
  bottom: 0px !important;
  border-top: 1px solid #efefef !important;
  border-bottom: none !important; 
}

.bi-slideout {
    position: fixed;
    top: 0px;
    left: 0;
    height: inherit;
    display: table;
    z-index: 20 !important;
    width: 300px;
    overflow: auto;
    margin: 0;
    padding: 0 10px;
    background: #00263A;
    border: 1px solid #efefef;
    -webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.bi-slideout.bi-slideout-hide {
    width: 0;
    padding: 0;
}
.bi-slideout .bi-slideout-header {
    display: table;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #3c6f9b;
}
.bi-slideout .bi-slideout-header.bi-slideout-header-hide {
    display: none;
}
.bi-slideout .bi-slideout-header .bi-slideout-header-close {
    display: table-cell;
    width: 20px;
    font-size: 2em;
    vertical-align: middle;
    color: white;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.bi-slideout .bi-slideout-header .bi-slideout-header-close:hover {
      color: #00A9E0;
}
.bi-slideout .bi-slideout-header-label {
    display: table-cell;
    vertical-align: middle;
    font-size: 2em;
    width: 260px;
    color: white;
}

.bi-slideout .bi-slideout-content {
   display: block;
   width: 100%;
   height: 95%;
   padding: 15px 0;
   overflow: auto;
}

.bi-slideout .bi-slideout-content.bi-slideout-content-hide {
  display: none;
}

.bi-slideout-hidden-elements {
  opacity: 0;
  height : 0;
}

.bi-slideout .bi-slideout-accordion {
 display: block;
 width: 100%;
 overflow: auto;
 font-size: 1.2em;
}

.bi-slideout-filter-dropdown-content {
   display: block;
   text-align: center;
   padding-bottom: 13px;
   border-bottom: 1px solid #3c6f9b;
}

.bi-slideout .bi-slideout-accordion .bi-slideout-accordion-item {
 display: block;
 border-bottom: 1px solid #3c6f9b;
 padding: 0 0 5px 0;
 -webkit-transition: all 0.25s ease-out;
 -o-transition: all 0.25s ease-out;
 transition: all 0.25s ease-out;
}

.bi-slideout .bi-slideout-accordion .bi-slideout-accordion-item .bi-slideout-accordion-item-header {
 display: table;
 width: 100%;
 cursor: pointer;
}

.bi-slideout .bi-slideout-accordion .bi-slideout-accordion-item .bi-slideout-accordion-item-header .bi-slideout-accordion-item-header-label {
 display: table-cell;
 padding: 0 0 0 10px;
 color: white;
}

#accordionArrow {
 display: table-cell;
 width: 20px;
 cursor: pointer;
 font-size: 1.5em;
 color: white;
}

.accordion-filter-title {
   color: white;
   font-size: 0.9em;
   margin-bottom: 5px !important;
   font-weight: bold;
}

.bi-slideout .bi-slideout-accordion .bi-slideout-accordion-item .bi-slideout-accordion-item-content {
 display: none;
 padding: 20px;
 color: white;
}

.bi-slideout .bi-slideout-accordion .bi-slideout-accordion-item.bi-slideout-accordion-item-selected {
 border-left: 4px solid #40C1AC;
}

.bi-slideout .bi-slideout-accordion .bi-slideout-accordion-item .bi-slideout-accordion-item-content.bi-slideout-accordion-item-content-selected {
 display: block;
}

.bi-slideout input[type='text']:focus , .sf-element-list-box-item{
 color: black;
}

.bi-slideout .sfc-listcheckbox-filter  .sf-element-list-box-item, #toggleHelpContent {
 color: white;
}

.bi-slideout-accordion-screen-label {
  text-align: center;
  color:white;
  padding:10px;
}

.bi-slideout-accordion-screen-label:hover {
    cursor: pointer;
    color: yellow;
}

/*
.HtmlTextArea.sf-focusable < .bi-toolbar, .StyledScrollbar < .HtmlTextArea.sf-focusable ,  .sf-element-visual .sfc-text-area < .StyledScrollbar < .HtmlTextArea.sf-focusable {
  width: 100%;
}
*/
